<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.elghamry.android.bakingapp">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="app.elghamry.android.bakingapp.main_activity.MainActivity"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="app.elghamry.android.bakingapp.IngredientsSteps.IngredientStepsActivity"
            android:configChanges="orientation|screenSize">
        </activity>
        <activity android:name="app.elghamry.android.bakingapp.IngredientsSteps.IngredientsActivity"
            android:configChanges="orientation|screenSize">
        </activity>
        <activity android:name="app.elghamry.android.bakingapp.IngredientsSteps.StepsActivity"
            android:configChanges="orientation|screenSize">
        </activity>

        <receiver android:name="app.elghamry.android.bakingapp.widget.RecipesWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/recipe_steps_widget_info" />
        </receiver>

        <activity android:name="app.elghamry.android.bakingapp.widget.RecipesWidgetConfigureActivity"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <service android:name="app.elghamry.android.bakingapp.widget.WidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

    </application>



</manifest>